version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: quiz-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: quizdb
    ports:
      - "3310:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: quiz-backend
    ports:
      - "8081:8081"
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/quizdb?allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root

  frontend:
    build: ./frontend/quiz-frontend
    container_name: quiz-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mysql_data:
